* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #121214;
    width: 100vw;
    overflow-x: hidden;
}

header{
    background:#1a1a1e;
    display:flex;
    padding: 1rem;
    height: 5rem;
}

.logos{
  display: flex;
  padding: 5px;
  gap: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.nav-links {
    list-style: none;
    margin: 1.25rem;
    padding: 0.4rem;
    display: flex; 
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #ddd;
}

.footer{
    color: #ddd;
    display: flex;
    background-color: #000000;
    height: 8rem;
    align-items: center;
    width: 100vw;
    min-width: 0;
    font-size: 1rem;
    flex-wrap: wrap;
    text-align: center;
    padding: 8px;

}